a {
    color: rgb(175, 255, 38);
    padding: 20px;
    text-decoration: none;
}
.nav1 {
    padding: 20px;

    background-color: black;
}



.search {
    float: right;
}

.a1:hover {
    background-color: rgb(175, 255, 38);
    border-radius: 10px;
    color: black;
}

img {
    width: 1333px;
    height: 500px;

}



.title {
    text-align: center;
    color: rgb(255, 255, 255);
}

.body {
    
    background: linear-gradient(black, black, rgb(30, 115, 172))
}
.footer1{
    background: rgb(255, 255, 255);
    text-align: center;
    padding: 100px;
    

}